name: Build and Push Image
on:
  push:
    paths:
      - 'Dockerfile'
      - 'init.go'
      - 'settings.json'
    branches:
      - main
  pull_request:
  schedule:
    - cron:  '0 0 * * 2'
  # have the ability to trigger this workflow manually
  workflow_dispatch:

jobs:
  build:
    name: Build and push image
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v4

    - name: Free Space
      run: |
        sudo rm -rf /usr/share/dotnet
        sudo rm -rf /opt/ghc
        sudo rm -rf "/usr/local/share/boost"
        sudo rm -rf "$AGENT_TOOLSDIRECTORY"
        sudo rm -rf /usr/local/lib/android
        rm -rf /opt/hostedtoolcache/Java*
        rm -rf /opt/hostedtoolcache/Ruby*
        rm -rf /opt/hostedtoolcache/Go*
        rm -rf /opt/hostedtoolcache/node*

    - name: Build Image (normal)
      id: build-image
      uses: redhat-actions/buildah-build@v2
      with:
        image: selenium-vscode
        tags: latest ${{ github.sha }}
        build-args: target=selenium-vscode
        containerfiles: |
          ./Dockerfile

    - name: Build Image (multi)
      id: build-image-multi
      uses: redhat-actions/buildah-build@v2
      with:
        image: selenium-vscode-multi
        tags: latest ${{ github.sha }}
        build-args: target=selenium-vscode-multi
        containerfiles: |
          ./Dockerfile

    - name: Push To quay.io
      if: github.event_name != 'pull_request'
      id: push-to-quay
      uses: redhat-actions/push-to-registry@v2
      with:
        image: ${{ steps.build-image.outputs.image }}
        tags: ${{ steps.build-image.outputs.tags }}
        registry: quay.io/${{ secrets.REGESTRY_NAME }}
        username: ${{ secrets.REGESTRY_USER_NAME }}
        password: ${{ secrets.REGISTRY_PASSWORD }}

    - name: Push To quay.io (multi)
      if: github.event_name != 'pull_request'
      id: push-to-quay-multi
      uses: redhat-actions/push-to-registry@v2
      with:
        image: ${{ steps.build-image-multi.outputs.image }}
        tags: ${{ steps.build-image-multi.outputs.tags }}
        registry: quay.io/${{ secrets.REGESTRY_NAME }}
        username: ${{ secrets.REGESTRY_USER_NAME }}
        password: ${{ secrets.REGISTRY_PASSWORD }}

    - name: Print image url
      run: echo "Images pushed to ${{ steps.push-to-quay.outputs.registry-paths }} and ${{ steps.push-to-quay-multi.outputs.registry-paths }}"
